@import url("fonts.css");
@import url("utilities.css");
* {
	margin: 0;
	padding: 0;
	outline: 0;
	box-sizing: border-box;
	text-decoration: none;
	list-style-type: none;
}
html {
	font-size: 0.69445vw;
}
body {
	font-family: "Poppins", sans-serif;
	max-width: 100vw;
	overflow-x: hidden;
}

img {
	width: 100%;
}
/* -----------Header Section----------- */
.header--site {
	background: #2d25a0;
}
.header--site:hover #banner-img {
	transform: scale(1.07);
	-webkit-transform: scale(1.07);
	-moz-transform: scale(1.07);
	-ms-transform: scale(1.07);
	-o-transform: scale(1.07);
}

.banner .right {
	background-image: url("../images/shape-b.png");
	background-repeat: no-repeat;
	background-position: center;
	background-size: 50%;
	padding: 60px;
}
.banner .right img {
	transition: transform 0.5s ease-in;
	-webkit-transition: transform 0.5s ease-in;
	-moz-transition: transform 0.5s ease-in;
	-ms-transition: transform 0.5s ease-in;
	-o-transition: transform 0.5s ease-in;
	transform: translateY(80px);
	-webkit-transform: translateY(80px);
	-moz-transform: translateY(80px);
	-ms-transform: translateY(80px);
	-o-transform: translateY(80px);
}
/* ----------Players section---------- */
article {
	padding: 15px;
	width: 100%;
	background: #ffffff;
	box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
	transition: transform 0.2s ease;
	-webkit-transition: transform 0.2s ease;
	-moz-transition: transform 0.2s ease;
	-ms-transition: transform 0.2s ease;
	-o-transition: transform 0.2s ease;
	cursor: pointer;
}
article:hover {
	transform: scale(1.1);
	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
	-ms-transform: scale(1.1);
	-o-transform: scale(1.1);
}

/* ----------------------gallery---------------------- */
.gallery {
	padding: 100px;
}
.gallery a {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 2em;
}

.gallery a img {
	width: 100%;
	height: 100%;
	box-shadow: 0 2px 16px var(--shadow);
}

.gallery {
	display: grid;
	grid-gap: 10px;
	grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
	grid-auto-rows: 220px;
	grid-auto-flow: dense;
}

.horizontal {
	grid-column: span 2;
}

.vertical {
	grid-row: span 2;
}

.big {
	grid-column: span 2;
	grid-row: span 2;
}
/* ------------------------highlights------------------------ */
.highlights-row {
	padding: 0 70px;
	padding-top: 150px;
}
.highlights-row img {
	max-width: 567px;
}
.info-container {
	padding-right: 66px;
}
.highlights-info {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
	align-self: stretch;
}
/* ------------------newsLetter------------------ */
input {
	border: 2px solid #6d6d6d;
	border-radius: 3px;
	padding: 15px;
	letter-spacing: 0.5px;
	margin-right: 10px;
	color: #6d6d6d;
	transition: border 0.3s, box-shadow 0.3s;
	width: 90%;
	max-width: 300px;
}

/* ----------------footer---------------- */
footer {
	height: 350px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
footer .logo {
	max-width: 480px;
}
footer ul {
	display: flex;
	margin-bottom: 10px;
}
footer ul li {
	/* background-color: #969bab; */
	margin: 10px 10px;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
	text-align: center;
}
footer ul li a {
	width: 42px;
	height: 42px;
	display: inline-block;
	font-size: 14px;
	display: grid;
	place-items: center;
	color: #969bab;
	background-color: #0b0d172b;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
	text-align: center;
}
a i {
	font-size: 24px;
	transition: transform 0.3s ease;
	-webkit-transition: transform 0.3s ease;
	-moz-transition: transform 0.3s ease;
	-ms-transition: transform 0.3s ease;
	-o-transition: transform 0.3s ease;
}
footer a:hover i {
	transform: translateY(-5px);
	-webkit-transform: translateY(-5px);
	-moz-transform: translateY(-5px);
	-ms-transform: translateY(-5px);
	-o-transform: translateY(-5px);
}
